" ---------------------------------------------------------------------------
" Cerni's vimrc.
" used mainly for javascript, C#, html, CSS and XML; Note-taking and writing 
" blog using markdown (hexo blog and translation, combine with writage).
"
" This .vimrc is currently designed to work on windows environment, 
" I will update to work on Linux and macOS when I am in need to do that.
"
" I separate this vim configuration into separate files, so the file won't 
" get bulky and easier for me to change my specific config category.
" 
" Written by: 'Cerni'ta Ayu Pratiwi
" Last Updated: 18 December 2016
" ---------------------------------------------------------------------------

" ======= OS configuration =========
" These configs ensure vim to run 
" correctly in windows
" ==================================

set nocompatible
source $VIMRUNTIME/mswin.vim
behave mswin

" --------------------------------
" setting the swap and backup file
" directory.
" --------------------------------

:set dir=~\.vimswap                 " directory for swap file "
:set backupdir=~\.vimbackup         " directory for backup file "
:set viewdir=~\.vimview             " directory for view file "
:set undodir=~\.vimundo             " directory for undo file "

" ---------------------------------
" plugins configuration
" ---------------------------------
filetype off                        " turn on checking configuration
set laststatus=2                    " always show statusbar "
filetype plugin off                 " avoiding trouble by setting filetype plugin off
filetype indent off                 " avoiding trouble by setting filetype indent off

" ---------------------------------
" gui and fonts
" ---------------------------------
if has('gui_running')
    set guioptions-=T               " no toolbar and tear off configuration
    set lines=40                    " set total lines of the vim to 40
    " set guifont=FuraMonoForPowerline_NF:h9
    " set guifont=CodeNewRoman_NF:h10
    set guifont=MesloLGL_NF:h9
endif

" ---------------------------------
" set encoding
" ---------------------------------
if has("multi_byte")
    if &termencoding == ""
        let &termencoding = &encoding
    endif
    set encoding=utf-8
    setglobal fileencoding=utf-8
    set fileencodings=ucs-bom,utf-8,latin1
endif

" --------------------------------
" Working with views
" --------------------------------
autocmd BufWinLeave *.* mkview!         " save view each time you close the file
autocmd BufWinEnter *.* silent loadview " load view when loading file

" --------------------------------
" set current working directory
" without setting auto check dir
" This is necessary for vimshell 
" to works
" --------------------------------
autocmd BufEnter * silent! lcd %:p:h

" --------------------------------
" set fold configuration
" --------------------------------
set foldenable                      " enabling fold "
set foldmethod=syntax               " set foldmethod "

" --------------------------------
" set trailing whitespace
" --------------------------------
set list
set listchars=tab:>\ ,trail:•,extends:#,nbsp:.

" --------------------------------
" set tabs to become 4 spaces
" --------------------------------

set expandtab
set tabstop=4
set softtabstop=0
set shiftwidth=4


" --------------------------------
" Search related configuration
" --------------------------------
set incsearch
set hlsearch
set showmatch
set ignorecase
set smartcase


" --------------------------------
" set linespace settings
" --------------------------------
set linespace=0     " set the linespace between fonts to [x]

" --------------------------------
" set splitting settings
" --------------------------------
set splitbelow                      " :sp always at below
set splitright                      " :vsp always at right

" ======== Vundle-bundles ========
" You shall add all vundle plugins
" in .vimrc.plugins
" ================================
if filereadable(expand("~/vimConfig/.vimrc.plugins"))
    source ~/vimConfig/.vimrc.plugins
endif

" --------------------------------
" Set filetype on after loading
" Plugin
" --------------------------------
filetype plugin on
filetype indent on

" --------------------------------
" Set Syntax highlighting and
" colorscheme
" --------------------------------
syntax on
set termencoding=256
set background=dark
colorscheme gruvbox


" =========== Keymaps ============
" All keymaps are kept at separate
" file. Put all configurations of 
" command key-remapping there.
" ================================
if filereadable(expand("~/vimConfig/.vimrc.keymaps"))
    source ~/vimConfig/.vimrc.keymaps
endif

" =========== Plugin =============
" All plugins are kept at separate
" file. Put all the configuration 
" of plugins there.
" ================================
if filereadable(expand("~/vimConfig/.vimrc.plugin.config"))
    source ~/vimConfig/.vimrc.plugin.config
endif


